html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

.change {
  background-color: #000000;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14em;
}
